@media (max-width: 768px) {
    .cv_wrapper-additional {
        flex-direction: column;

    }

    .profile_column {
        width: 100%;
    }

    .about_me-descr {
        text-align: center;
    }

    .description_column {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 479px) {
    .stack_technologies {
        width: 300px;
    }

    .profile_img-wrap {
        display: none;
    }

    .profile_description {
        margin-top: 25px;
    }

    .project_window {
        width: 300px;
    }
}