body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;


}

.meal {
    &__wrapper{
        max-width: 1280px;
        margin: 0 auto;
        padding: 2rem;
        text-align: center;
    }
    &__search {
        margin: 2rem 0;
        cite {
            font-size: 1rem;
        }
        &-btn {
            font-family: inherit;
            cursor: pointer;
            outline: 0;
            width: 100%;
            width: 55px;
            height: 55px;
            background-color: purple;
            .fa-search{
                color: white;
                font-size: 20px;
            }
        }
        .title {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        &-box{
            margin: 1.2rem 0;
            display: flex;
            align-items: stretch;
        }

        &-control {
            padding: 0 1rem;
            font-size: 1.1rem;
            font-family: inherit;
            outline: 0;
            border: 1px solid black;
            color: grey;
            width: 100%;
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;
        }

        &-control::placeholder{
             color: purple;
        }
    }

    &__result {
        margin-top: 4rem;

        #meal {
            margin: 2.4rem 0;
        }
    }

    &__item {
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 4px 5px  10px 1px black;
        padding: 15px;
    }
    &__img {
        img {
            width: 100%;
            display: block;
        }
    }

    &__name {
        padding:  1.5rem 0.5rem;
        h3 {
            font-size: 1.4rem;
        }
    }

    .recipe__btn {
        display: block;
        
        text-decoration: none;
        color: white;
        background-color: rgb(175, 44, 175);
        border-radius: 2rem;
        padding: 5px;
        width: 150px;
        margin: 0 auto;
        margin-top: 25px;
    }
}

.meal__details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:90%;
    height: 80%;
    padding: 20px;
    background-color: purple;
    border-radius: 2rem;
    overflow-y: scroll;
    display: none;
    &-content{
        margin: 2rem;
        overflow: hidden;
        color: white;
        a {
            color: white;
            text-decoration: none;
            font-size: 20px;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .recipe__meal-img {
        display: flex;
        justify-content: center;
        img {
        width: 40%;
        display: block;
        border-radius: 2rem;
        }
    }

    .recipe__close-btn {
        // position: absolute;
        position: fixed;
        right: 2rem;
        top: 2rem;
        font-size: 20px;
        width: 30px;
        border-radius: 2rem;
    }

    .recipe__title{
        letter-spacing: 1px;
        padding-bottom: 1rem;
    }

    .recipe__category {
        background-color: white;
        // display: inline-block;
        color: black;
    }
}

.meal__details::-webkit-scrollbar{
    width: 10px;
}

.meal__details::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 2rem;
}

.meal__details-content {
    margin: 2rem;
}

.recipe__instruct {
    // margin-top: 50px;
    margin: 50px auto;
    width: 50%;
    display: flex;
    align-items:center;
    // justify-content: center;
}


.showRecipe {
    display: block;
}

@media screen and (min-width: 600px) {
    .meal__search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 768px) {
    #meal {
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .meal__item {
        margin: 0;
    }

    .recipe__instruct {
        // margin-top: 50px;
        margin: 50px auto;
        width: 80%;
        display: flex;
        align-items:center;
        // justify-content: center;
    }
}

@media screen and (min-width: 992px) {
    #meal {
        grid-template-columns: repeat(3, 1fr);
    }
}