@media (max-width: 1200px) {

  .header .slider .photo__people {
    top: 50%;
    position: absolute;
    max-width: 800px;
    max-height: 400px;
    /* margin: 0 auto; */
    background: floralwhite;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 30px;
    transform: translate(-50%, -50%);
    left: 50%;
  }

  .buy__products {
    display: none;
  }

  .client .phone  {
    display: none;
  }

  .client__form {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .about__wrapper {

    display: flex;
    max-width: 800px;
    justify-content: space-around;

    align-items: center;
    flex-direction: column;
    margin-bottom: 132px;
  }

  .header .slider .btn__left {
    top: 91%;
    left: 40%;
  }

  .header .slider .btn__right {
    top: 90%;
    right: 40%;
  }

  .header .logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .burger {
    display: block;

  }

  .modal {
    width: 600px;
  }


  .header__nav ul {
    display: none;
  }
}


@media (max-width: 769px) {
  .header .slider .photo__people {
    position: relative;
    transform: translate(-50%, -26%);
  }
  .about__wrapper .about__img img {
    max-width: 400px;
  }

  .buy__wrapper .buy__item {
    max-width: 480px;
  }

  .client__form-wrapper {
    flex-direction: column;
    max-width: 700px;
    height: 600px;
  }

  .client__form-wrapper .left {
    width: 100%;
    height: 20%;
  }
  .send {
    width: 100px;
  }

  .modal {
    width: 400px;
  }
}

@media (max-width: 481px) {
  .about__wrapper .about__img img {
    max-width: 200px;
  }

  .client__form-wrapper .right {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  .header .slider .photo__people {

    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    align-items: center;
    max-height: 200px;
  }

  .modal {
    width: 200px;
  }
  .burger__menu ul li {
    font-size: 15px;
  }

  .burger__menu .burger__close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    img {
      height: 32px;
      width: 32px;
    }
  }

  .header .slider .photo__people .description__photo {
    width: 50px;
    height: 50px;

  }
  .arrow-btn__left {

    top: 30%;}
  .arrow-btn__right {

    top: 30%;}

  .client__form-wrapper textarea {

    max-width: 300px;}

  .client__form-wrapper .right {
    margin: 0 auto;
  }

  .header__nav .shop {
    position: absolute;
    right: 20px;

  }
}